@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

:root {
  --colors-base-black: #000000;
  --colors-base-transparent: #ffffff00;
  --colors-base-white: #ffffff;
  --colors-blue100: #d1e9ff;
  --colors-blue200: #b2ddff;
  --colors-blue25: #f5faff;
  --colors-blue300: #84caff;
  --colors-blue400: #53b1fd;
  --colors-blue50: #eff8ff;
  --colors-blue500: #2e90fa;
  --colors-blue600: #1570ef;
  --colors-blue700: #175cd3;
  --colors-blue800: #1849a9;
  --colors-blue900: #194185;
  --colors-blue950: #102a56;
  --colors-blue-dark100: #d1e0ff;
  --colors-blue-dark200: #b2ccff;
  --colors-blue-dark25: #f5f8ff;
  --colors-blue-dark300: #84adff;
  --colors-blue-dark400: #528bff;
  --colors-blue-dark50: #eff4ff;
  --colors-blue-dark500: #2970ff;
  --colors-blue-dark600: #155eef;
  --colors-blue-dark700: #004eeb;
  --colors-blue-dark800: #0040c1;
  --colors-blue-dark900: #00359e;
  --colors-blue-dark950: #002266;
  --colors-blue-light100: #e0f2fe;
  --colors-blue-light200: #b9e6fe;
  --colors-blue-light25: #f5fbff;
  --colors-blue-light300: #7cd4fd;
  --colors-blue-light400: #36bffa;
  --colors-blue-light50: #f0f9ff;
  --colors-blue-light500: #0ba5ec;
  --colors-blue-light600: #0086c9;
  --colors-blue-light700: #026aa2;
  --colors-blue-light800: #065986;
  --colors-blue-light900: #0b4a6f;
  --colors-blue-light950: #062c41;
  --colors-brand100: #ffe9bd;
  --colors-brand200: #ffde9c;
  --colors-brand25: #fff9ed;
  --colors-brand300: #ffd47b;
  --colors-brand400: #ffc95a;
  --colors-brand50: #fff2d7;
  --colors-brand500: #ffbe39;
  --colors-brand600: #d49e30;
  --colors-brand700: #aa7f26;
  --colors-brand800: #805f1d;
  --colors-brand900: #553f13;
  --colors-brand950: #33260b;
  --colors-brand-dark100: #a0aed2;
  --colors-brand-dark200: #7388be;
  --colors-brand-dark25: #e4eaf9;
  --colors-brand-dark300: #4e67a7;
  --colors-brand-dark400: #304b90;
  --colors-brand-dark50: #c6cfe6;
  --colors-brand-dark500: #13307b;
  --colors-brand-dark600: #001b50;
  --colors-brand-dark700: #001540;
  --colors-brand-dark800: #001030;
  --colors-brand-dark900: #000b20;
  --colors-brand-dark950: #000613;
  --colors-cyan100: #cff9fe;
  --colors-cyan200: #a5f0fc;
  --colors-cyan25: #f5feff;
  --colors-cyan300: #67e3f9;
  --colors-cyan400: #22ccee;
  --colors-cyan50: #ecfdff;
  --colors-cyan500: #06aed4;
  --colors-cyan600: #088ab2;
  --colors-cyan700: #0e7090;
  --colors-cyan800: #155b75;
  --colors-cyan900: #164c63;
  --colors-cyan950: #0d2d3a;
  --colors-error100: #fee4e2;
  --colors-error200: #fecdca;
  --colors-error25: #fffbfa;
  --colors-error300: #fda29b;
  --colors-error400: #f97066;
  --colors-error50: #fef3f2;
  --colors-error500: #f04438;
  --colors-error600: #d92d20;
  --colors-error700: #b42318;
  --colors-error800: #912018;
  --colors-error900: #7a271a;
  --colors-error950: #55160c;
  --colors-fuchsia100: #fbe8ff;
  --colors-fuchsia200: #f6d0fe;
  --colors-fuchsia25: #fefaff;
  --colors-fuchsia300: #eeaafd;
  --colors-fuchsia400: #e478fa;
  --colors-fuchsia50: #fdf4ff;
  --colors-fuchsia500: #d444f1;
  --colors-fuchsia600: #ba24d5;
  --colors-fuchsia700: #9f1ab1;
  --colors-fuchsia800: #821890;
  --colors-fuchsia900: #6f1877;
  --colors-fuchsia950: #47104c;
  --colors-gray-dark-mode-100: #f0f1f1;
  --colors-gray-dark-mode-200: #ececed;
  --colors-gray-dark-mode-25: #fafafa;
  --colors-gray-dark-mode-300: #cecfd2;
  --colors-gray-dark-mode-400: #94969c;
  --colors-gray-dark-mode-50: #f5f5f6;
  --colors-gray-dark-mode-500: #85888e;
  --colors-gray-dark-mode-600: #61646c;
  --colors-gray-dark-mode-700: #333741;
  --colors-gray-dark-mode-800: #1f242f;
  --colors-gray-dark-mode-900: #161b26;
  --colors-gray-dark-mode-950: #0c111d;
  --colors-gray-dark-mode-alpha-100: #fffffff0;
  --colors-gray-dark-mode-alpha-200: #ffffffeb;
  --colors-gray-dark-mode-alpha-25: #fffffffa;
  --colors-gray-dark-mode-alpha-300: #ffffffcc;
  --colors-gray-dark-mode-alpha-400: #ffffff8f;
  --colors-gray-dark-mode-alpha-50: #fffffff5;
  --colors-gray-dark-mode-alpha-500: #ffffff80;
  --colors-gray-dark-mode-alpha-600: #ffffff59;
  --colors-gray-dark-mode-alpha-700: #ffffff29;
  --colors-gray-dark-mode-alpha-800: #ffffff14;
  --colors-gray-dark-mode-alpha-900: #ffffff0a;
  --colors-gray-dark-mode-alpha-950: #ffffff00;
  --colors-gray-light-mode-100: #f2f4f7;
  --colors-gray-light-mode-200: #eaecf0;
  --colors-gray-light-mode-25: #fcfcfd;
  --colors-gray-light-mode-300: #d0d5dd;
  --colors-gray-light-mode-400: #98a2b3;
  --colors-gray-light-mode-50: #f9fafb;
  --colors-gray-light-mode-500: #667085;
  --colors-gray-light-mode-600: #475467;
  --colors-gray-light-mode-700: #344054;
  --colors-gray-light-mode-800: #182230;
  --colors-gray-light-mode-900: #101828;
  --colors-gray-light-mode-950: #0c111d;
  --colors-gray-blue100: #eaecf5;
  --colors-gray-blue200: #d5d9eb;
  --colors-gray-blue25: #fcfcfd;
  --colors-gray-blue300: #b3b8db;
  --colors-gray-blue400: #717bbc;
  --colors-gray-blue50: #f8f9fc;
  --colors-gray-blue500: #4e5ba6;
  --colors-gray-blue600: #3e4784;
  --colors-gray-blue700: #363f72;
  --colors-gray-blue800: #293056;
  --colors-gray-blue900: #101323;
  --colors-gray-blue950: #0d0f1c;
  --colors-gray-cool100: #eff1f5;
  --colors-gray-cool200: #dcdfea;
  --colors-gray-cool25: #fcfcfd;
  --colors-gray-cool300: #b9c0d4;
  --colors-gray-cool400: #7d89b0;
  --colors-gray-cool50: #f9f9fb;
  --colors-gray-cool500: #5d6b98;
  --colors-gray-cool600: #4a5578;
  --colors-gray-cool700: #404968;
  --colors-gray-cool800: #30374f;
  --colors-gray-cool900: #111322;
  --colors-gray-cool950: #0e101b;
  --colors-gray-iron100: #f4f4f5;
  --colors-gray-iron200: #e4e4e7;
  --colors-gray-iron25: #fcfcfc;
  --colors-gray-iron300: #d1d1d6;
  --colors-gray-iron400: #a0a0ab;
  --colors-gray-iron50: #fafafa;
  --colors-gray-iron500: #70707b;
  --colors-gray-iron600: #51525c;
  --colors-gray-iron700: #3f3f46;
  --colors-gray-iron800: #26272b;
  --colors-gray-iron900: #1a1a1e;
  --colors-gray-iron950: #131316;
  --colors-gray-modern100: #eef2f6;
  --colors-gray-modern200: #e3e8ef;
  --colors-gray-modern25: #fcfcfd;
  --colors-gray-modern300: #cdd5df;
  --colors-gray-modern400: #9aa4b2;
  --colors-gray-modern50: #f8fafc;
  --colors-gray-modern500: #697586;
  --colors-gray-modern600: #4b5565;
  --colors-gray-modern700: #364152;
  --colors-gray-modern800: #202939;
  --colors-gray-modern900: #121926;
  --colors-gray-modern950: #0d121c;
  --colors-gray-neutral100: #f3f4f6;
  --colors-gray-neutral200: #e5e7eb;
  --colors-gray-neutral25: #fcfcfd;
  --colors-gray-neutral300: #d2d6db;
  --colors-gray-neutral400: #9da4ae;
  --colors-gray-neutral50: #f9fafb;
  --colors-gray-neutral500: #6c737f;
  --colors-gray-neutral600: #4d5761;
  --colors-gray-neutral700: #384250;
  --colors-gray-neutral800: #1f2a37;
  --colors-gray-neutral900: #111927;
  --colors-gray-neutral950: #0d121c;
  --colors-gray-true100: #f5f5f5;
  --colors-gray-true200: #e5e5e5;
  --colors-gray-true25: #fcfcfc;
  --colors-gray-true300: #d6d6d6;
  --colors-gray-true400: #a3a3a3;
  --colors-gray-true50: #fafafa;
  --colors-gray-true500: #737373;
  --colors-gray-true600: #525252;
  --colors-gray-true700: #424242;
  --colors-gray-true800: #292929;
  --colors-gray-true900: #141414;
  --colors-gray-true950: #0f0f0f;
  --colors-gray-warm100: #f5f5f4;
  --colors-gray-warm200: #e7e5e4;
  --colors-gray-warm25: #fdfdfc;
  --colors-gray-warm300: #d7d3d0;
  --colors-gray-warm400: #a9a29d;
  --colors-gray-warm50: #fafaf9;
  --colors-gray-warm500: #79716b;
  --colors-gray-warm600: #57534e;
  --colors-gray-warm700: #44403c;
  --colors-gray-warm800: #292524;
  --colors-gray-warm900: #1c1917;
  --colors-gray-warm950: #171412;
  --colors-green100: #d3f8df;
  --colors-green200: #aaf0c4;
  --colors-green25: #f6fef9;
  --colors-green300: #73e2a3;
  --colors-green400: #3ccb7f;
  --colors-green50: #edfcf2;
  --colors-green500: #16b364;
  --colors-green600: #099250;
  --colors-green700: #087443;
  --colors-green800: #095c37;
  --colors-green900: #084c2e;
  --colors-green950: #052e1c;
  --colors-green-light100: #e3fbcc;
  --colors-green-light200: #d0f8ab;
  --colors-green-light25: #fafef5;
  --colors-green-light300: #a6ef67;
  --colors-green-light400: #85e13a;
  --colors-green-light50: #f3fee7;
  --colors-green-light500: #66c61c;
  --colors-green-light600: #4ca30d;
  --colors-green-light700: #3b7c0f;
  --colors-green-light800: #326212;
  --colors-green-light900: #2b5314;
  --colors-green-light950: #15290a;
  --colors-indigo100: #e0eaff;
  --colors-indigo200: #c7d7fe;
  --colors-indigo25: #f5f8ff;
  --colors-indigo300: #a4bcfd;
  --colors-indigo400: #8098f9;
  --colors-indigo50: #eef4ff;
  --colors-indigo500: #6172f3;
  --colors-indigo600: #444ce7;
  --colors-indigo700: #3538cd;
  --colors-indigo800: #2d31a6;
  --colors-indigo900: #2d3282;
  --colors-indigo950: #1f235b;
  --colors-mid-blue100: #accdef;
  --colors-mid-blue200: #91b9e3;
  --colors-mid-blue25: #e4f1ff;
  --colors-mid-blue300: #74a6da;
  --colors-mid-blue400: #4889ce;
  --colors-mid-blue50: #cce5ff;
  --colors-mid-blue500: #3274bb;
  --colors-mid-blue600: #2b619c;
  --colors-mid-blue700: #254576;
  --colors-mid-blue800: #1c3459;
  --colors-mid-blue900: #13233b;
  --colors-mid-blue950: #0b1523;
  --colors-moss100: #e6f4d7;
  --colors-moss200: #ceeab0;
  --colors-moss25: #fafdf7;
  --colors-moss300: #acdc79;
  --colors-moss400: #86cb3c;
  --colors-moss50: #f5fbee;
  --colors-moss500: #669f2a;
  --colors-moss600: #4f7a21;
  --colors-moss700: #3f621a;
  --colors-moss800: #335015;
  --colors-moss900: #2b4212;
  --colors-moss950: #1a280b;
  --colors-orange100: #fdead7;
  --colors-orange200: #f9dbaf;
  --colors-orange25: #fefaf5;
  --colors-orange300: #f7b27a;
  --colors-orange400: #f38744;
  --colors-orange50: #fef6ee;
  --colors-orange500: #ef6820;
  --colors-orange600: #e04f16;
  --colors-orange700: #b93815;
  --colors-orange800: #932f19;
  --colors-orange900: #772917;
  --colors-orange950: #511c10;
  --colors-orange-dark100: #ffe6d5;
  --colors-orange-dark200: #ffd6ae;
  --colors-orange-dark25: #fff9f5;
  --colors-orange-dark300: #ff9c66;
  --colors-orange-dark400: #ff692e;
  --colors-orange-dark50: #fff4ed;
  --colors-orange-dark500: #ff4405;
  --colors-orange-dark600: #e62e05;
  --colors-orange-dark700: #bc1b06;
  --colors-orange-dark800: #97180c;
  --colors-orange-dark900: #771a0d;
  --colors-orange-dark950: #57130a;
  --colors-pink100: #fce7f6;
  --colors-pink200: #fcceee;
  --colors-pink25: #fef6fb;
  --colors-pink300: #faa7e0;
  --colors-pink400: #f670c7;
  --colors-pink50: #fdf2fa;
  --colors-pink500: #ee46bc;
  --colors-pink600: #dd2590;
  --colors-pink700: #c11574;
  --colors-pink800: #9e165f;
  --colors-pink900: #851651;
  --colors-pink950: #4e0d30;
  --colors-purple100: #ebe9fe;
  --colors-purple200: #d9d6fe;
  --colors-purple25: #fafaff;
  --colors-purple300: #bdb4fe;
  --colors-purple400: #9b8afb;
  --colors-purple50: #f4f3ff;
  --colors-purple500: #7a5af8;
  --colors-purple600: #6938ef;
  --colors-purple700: #5925dc;
  --colors-purple800: #4a1fb8;
  --colors-purple900: #3e1c96;
  --colors-purple950: #27115f;
  --colors-rosé100: #ffe4e8;
  --colors-rosé200: #fecdd6;
  --colors-rosé25: #fff5f6;
  --colors-rosé300: #fea3b4;
  --colors-rosé400: #fd6f8e;
  --colors-rosé50: #fff1f3;
  --colors-rosé500: #f63d68;
  --colors-rosé600: #e31b54;
  --colors-rosé700: #c01048;
  --colors-rosé800: #a11043;
  --colors-rosé900: #89123e;
  --colors-rosé950: #510b24;
  --colors-success100: #dcfae6;
  --colors-success200: #abefc6;
  --colors-success25: #f6fef9;
  --colors-success300: #75e0a7;
  --colors-success400: #47cd89;
  --colors-success50: #ecfdf3;
  --colors-success500: #17b26a;
  --colors-success600: #079455;
  --colors-success700: #067647;
  --colors-success800: #085d3a;
  --colors-success900: #074d31;
  --colors-success950: #053321;
  --colors-teal100: #ccfbef;
  --colors-teal200: #99f6e0;
  --colors-teal25: #f6fefc;
  --colors-teal300: #5fe9d0;
  --colors-teal400: #2ed3b7;
  --colors-teal50: #f0fdf9;
  --colors-teal500: #15b79e;
  --colors-teal600: #0e9384;
  --colors-teal700: #107569;
  --colors-teal800: #125d56;
  --colors-teal900: #134e48;
  --colors-teal950: #0a2926;
  --colors-violet100: #ece9fe;
  --colors-violet200: #ddd6fe;
  --colors-violet25: #fbfaff;
  --colors-violet300: #c3b5fd;
  --colors-violet400: #a48afb;
  --colors-violet50: #f5f3ff;
  --colors-violet500: #875bf7;
  --colors-violet600: #7839ee;
  --colors-violet700: #6927da;
  --colors-violet800: #5720b7;
  --colors-violet900: #491c96;
  --colors-violet950: #2e125e;
  --colors-warning100: #fef0c7;
  --colors-warning200: #fedf89;
  --colors-warning25: #fffcf5;
  --colors-warning300: #fec84b;
  --colors-warning400: #fdb022;
  --colors-warning50: #fffaeb;
  --colors-warning500: #f79009;
  --colors-warning600: #dc6803;
  --colors-warning700: #b54708;
  --colors-warning800: #93370d;
  --colors-warning900: #7a2e0e;
  --colors-warning950: #4e1d09;
  --colors-yellow100: #fef7c3;
  --colors-yellow200: #feee95;
  --colors-yellow25: #fefdf0;
  --colors-yellow300: #fde272;
  --colors-yellow400: #fac515;
  --colors-yellow50: #fefbe8;
  --colors-yellow500: #eaaa08;
  --colors-yellow600: #ca8504;
  --colors-yellow700: #a15c07;
  --colors-yellow800: #854a0e;
  --colors-yellow900: #713b12;
  --colors-yellow950: #542c0d;
  --spacing0: 0px;
  --spacing0-5: 2px;
  --spacing1: 4px;
  --spacing10: 40px;
  --spacing12: 48px;
  --spacing120: 480px;
  --spacing140: 560px;
  --spacing16: 64px;
  --spacing160: 640px;
  --spacing180: 720px;
  --spacing192: 768px;
  --spacing1-5: 6px;
  --spacing2: 8px;
  --spacing20: 80px;
  --spacing24: 96px;
  --spacing256: 1024px;
  --spacing3: 12px;
  --spacing32: 128px;
  --spacing320: 1280px;
  --spacing360: 1440px;
  --spacing4: 16px;
  --spacing40: 160px;
  --spacing400: 1600px;
  --spacing48: 192px;
  --spacing480: 1920px;
  --spacing5: 20px;
  --spacing56: 224px;
  --spacing6: 24px;
  --spacing64: 256px;
  --spacing8: 32px;
  --spacing80: 320px;
  --spacing96: 384px;
  --component-colors-alpha-alpha-black10: #0000001a;
  --component-colors-alpha-alpha-black100: #000000;
  --component-colors-alpha-alpha-black20: #00000033;
  --component-colors-alpha-alpha-black30: #0000004d;
  --component-colors-alpha-alpha-black40: #00000066;
  --component-colors-alpha-alpha-black50: #00000080;
  --component-colors-alpha-alpha-black60: #00000099;
  --component-colors-alpha-alpha-black70: #000000b2;
  --component-colors-alpha-alpha-black80: #000000cc;
  --component-colors-alpha-alpha-black90: #000000e5;
  --component-colors-alpha-alpha-brand10: #ffbe391a;
  --component-colors-alpha-alpha-brand100: #ffbe39;
  --component-colors-alpha-alpha-brand20: #ffbe3933;
  --component-colors-alpha-alpha-brand30: #ffbe394d;
  --component-colors-alpha-alpha-brand40: #ffbe3966;
  --component-colors-alpha-alpha-brand50: #ffbe3980;
  --component-colors-alpha-alpha-brand60: #ffbe3999;
  --component-colors-alpha-alpha-brand70: #ffbe39b2;
  --component-colors-alpha-alpha-brand80: #ffbe39cc;
  --component-colors-alpha-alpha-brand90: #ffbe39e5;
  --component-colors-alpha-alpha-white10: #ffffff1a;
  --component-colors-alpha-alpha-white100: #ffffff;
  --component-colors-alpha-alpha-white20: #ffffff33;
  --component-colors-alpha-alpha-white30: #ffffff4d;
  --component-colors-alpha-alpha-white40: #ffffff66;
  --component-colors-alpha-alpha-white50: #ffffff80;
  --component-colors-alpha-alpha-white60: #ffffff99;
  --component-colors-alpha-alpha-white70: #ffffffb2;
  --component-colors-alpha-alpha-white80: #ffffffcc;
  --component-colors-alpha-alpha-white90: #ffffffe5;
  --component-colors-components-app-store-badges-app-store-badge-border: #a6a6a6;
  --component-colors-components-avatars-avatar-contrast-border: #00000014;
  --component-colors-components-avatars-avatar-focus-border: #98a2b324;
  --component-colors-components-icons-social-icons-social-icon-fg-instagram: #000100;
  --component-colors-components-icons-social-icons-social-icon-fg-tumblr: #001935;
  --component-colors-components-icons-social-icons-social-icon-fg-x: #242e36;
}

.dark {
  --component-colors-alpha-alpha-black10: #ffffff1a;
  --component-colors-alpha-alpha-black100: #ffffff;
  --component-colors-alpha-alpha-black20: #ffffff33;
  --component-colors-alpha-alpha-black30: #ffffff4d;
  --component-colors-alpha-alpha-black40: #ffffff66;
  --component-colors-alpha-alpha-black50: #ffffff80;
  --component-colors-alpha-alpha-black60: #ffffff99;
  --component-colors-alpha-alpha-black70: #ffffffb2;
  --component-colors-alpha-alpha-black80: #ffffffcc;
  --component-colors-alpha-alpha-black90: #ffffffe5;
  --component-colors-alpha-alpha-brand10: #ffbe391a;
  --component-colors-alpha-alpha-brand100: #ffbe39;
  --component-colors-alpha-alpha-brand20: #ffbe3933;
  --component-colors-alpha-alpha-brand30: #ffbe394d;
  --component-colors-alpha-alpha-brand40: #ffbe3966;
  --component-colors-alpha-alpha-brand50: #ffbe3980;
  --component-colors-alpha-alpha-brand60: #ffbe3999;
  --component-colors-alpha-alpha-brand70: #ffbe39b2;
  --component-colors-alpha-alpha-brand80: #ffbe39cc;
  --component-colors-alpha-alpha-brand90: #ffbe39e5;
  --component-colors-alpha-alpha-white10: #0c111d1a;
  --component-colors-alpha-alpha-white20: #0c111d33;
  --component-colors-alpha-alpha-white30: #0c111d4d;
  --component-colors-alpha-alpha-white40: #0c111d66;
  --component-colors-alpha-alpha-white50: #0c111d80;
  --component-colors-alpha-alpha-white60: #0c111d99;
  --component-colors-alpha-alpha-white70: #0c111db2;
  --component-colors-alpha-alpha-white80: #0c111dcc;
  --component-colors-alpha-alpha-white90: #0c111de5;
  --component-colors-components-avatars-avatar-contrast-border: #ffffff1f;
  --component-colors-components-avatars-avatar-focus-border: #98a2b324;
  --component-colors-components-footers-footer-badge-bg: #ffffff1a;
  --component-colors-components-footers-footer-badge-border: #ffffff4d;
}

@theme inline {
  /* Mappings could be automated if we knew the tokens, */
  /* but for now we rely on the generic variables generated above. */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
